<section class="ht-product-inner container">
  <div class="products-wrapper">
   {% for product in collection.products %}
    <div class="product-grid">
      <a href="{{product.url}}"><div class="product-image" style="background-image: url('{{product.featured_image | img_url: '1000x'}}');">
      {% if product.tags contains 'sale' or product.price < product.compare_at_price %}
        <span class="product-sale">Sale</span>
      {% endif %}
        {% if product.tags contains 'new' %}
          <span class="product-tag">New</span>
        {% endif %}
      </div></a>
      <div class="product-title popup-cart-title">
          <h4><a href="product.url">{{product.title}}</a></h4>
          {% if product.compare_at_price %}
            <span class="compare-price">{{product.compare_at_price | money}}</span>
          {% endif %}
          <span>{{product.price |  money}}</span>
       </div>
    </div>
   {% endfor %}
  </div>
</section>
{% schema %}
{% endschema %}
